/* app/globals.css */

@font-face {
  font-family: 'StabGrot';
  src: url('/StabilGrotesk-Regular.otf') format('opentype');
  font-style: normal;
}


@font-face {
  font-family: 'StabGrot';
  src: url('/StabilGrotesk-Medium.otf') format('opentype');
  font-style: bold;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/AeonikFono-Regular.otf') format('opentype');
  font-style: normal;
}

body {
  font-family: 'StabGrot', sans-serif;
}
